/* style the body */
.body-style {
    background-image: url("img/landscape.jpeg"); /*change background image*/
    background-color: aqua; /*change background color*/
    background-repeat: no-repeat;

}
/*Multi
line 
comment*/
.h1-style{
    text-align: center;
}
.p style{
    font-family: Georgia, serif;
    font: 50px;
    text-align: center;
    text-shadow: 2px 2px red;
    padding:5px 0 0 0 ;
    border: 20px solid red;
    

.border-style1{
    border-style: dotted;
    border-width: 20px 5px 2px 1px;
    border-color: black;
}
.border-style2{
    border-style:dotted;
    border-width:20px 5px 2px 1px;
    border-color:black;
}